@inject IStringLocalizer<LHeaderComponent> Localizer

<div class="row">
	<div class="col-2">
		<img src="imgs/ivanov_big.jpg" width="180" height="240" title="Магистр КубГУ Козиев Артем Борисович" alt="Магистр КубГУ Козиев Артем Борисович" />
	</div>
	<div class="col-10 d-flex flex-column justify-content-between">
		<h4>@Localizer["Fio"]</h4>
		<h5>@Localizer["Faculty"]</h5>
		<h5>@Localizer["Dept"]</h5>
		<h5>@Localizer["Specialty"]</h5>
		<h5>@Localizer["Theme"]</h5>
		<h5>@Localizer["Supervisor"]</h5>
	</div>
</div>

@code {
	
}
